<div class="border p-2 bg-[#000000] text-white">
    <ul class="flex justify-end items-center text-[15px]">
        <li class="ml-10 font-semibold cursor-pointer" routerLink="/">Home</li>
        <li class="ml-10 font-semibold cursor-pointer" routerLink="/raf-score">RAF Score</li>
        <li class="ml-10 font-semibold cursor-pointer">
            <button routerLink="/login">Login</button>
        </li>
        <li class="ml-10 font-semibold cursor-pointer">
            <button class="bg-red-500 p-2 px-4 text-white rounded-md">Logout</button>
        </li>
    </ul>
</div>